openapi: 3.2.0
info:
  title: Thefork Orders API
  termsOfService: https://docs.thefork.io/pdf/LaFourchette-Partners-API-Licence-2.pdf
  x-refined-note:
  - x-provenance differs across the merged source definitions and was not carried
  - x-source-title differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: lafourchette-v1-api-openapi.yml, thefork-pos-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.thefork.io/pos
- url: https://api.thefork.io/pos/v1
  description: Production (POS provider callbacks to TheFork)
tags:
- name: Orders
paths:
  /v1/orders/{orderUuid}:
    put:
      operationId: putV1OrdersOrderuuid
      tags:
      - Orders
      description: putV1OrdersOrderuuid
      parameters:
      - description: Order UUID
        x-format:
          guid: true
        name: orderUuid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
                  description: Order locale
                currency:
                  type: string
                  description: Order currency
                totalAmount:
                  type: number
                  description: Order total amount
                lines:
                  type: array
                  description: Order Lines
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                        description: Order line label
                        maxLength: 500
                      category:
                        type: string
                        description: Order line category
                        maxLength: 260
                      totalPrice:
                        type: number
                        description: Order line total price
                      quantity:
                        type: number
                        description: Order line quantity
                    required:
                    - label
                    - category
                    - totalPrice
                    - quantity
              required:
              - locale
              - currency
              - totalAmount
              - lines
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                type: object
                properties:
                  id:
                    type: number
                    x-constraint:
                      positive: true
                  pos:
                    type: string
                  reservationUuid:
                    type: string
                  posId:
                    type: number
                    x-constraint:
                      positive: true
                  status:
                    type: string
                  orderUuid:
                    type: string
                  currencyIso:
                    type: string
                  posTableRestaurantUuid:
                    type: string
                  mealDate:
                    type: string
                  mealDateTime:
                    type: string
                  externalId:
                    type: number
                  externalOrderId:
                    type: string
                  totalPrice:
                    type: number
                    enum:
                    - 0
                    x-constraint:
                      positive: true
                  readyToPayNotificationDispatchedAt:
                    type: string
                  externalReservationId:
                    type: string
                  orderLines:
                    type: array
                    description: Order lines / cannot be typed because pos-service does not confirm the structure
                    items:
                      type: string
                  orderPayments:
                    type: array
                    items:
                      type: string
                required:
                - id
                - posId
                - status
                - orderUuid
                - currencyIso
                - mealDate
      security:
      - ApiKeyAuth: []
      x-source-page: https://docs.thefork.io/POS-API/API specifications/put-v-1-orders-orderuuid-e50
      x-source-asset: https://docs.thefork.io/assets/js/d9f95ff6.22e0183b.js
      summary: Put V1 orders orderuuid
      x-summary-source: derived
    servers:
    - url: https://api.thefork.io/pos
  /orders:
    post:
      tags:
      - Orders
      summary: Open Order
      description: Called by TheFork to the POS provider's configured receipt opening URL when a reservation is seated, instructing the POS to open an order for the reservation. The POS responds with 204 on success; TheFork may retry on 5xx errors.
      operationId: openOrder
      parameters:
      - name: CustomerId
        in: header
        required: true
        description: The restaurant's UUID identifier.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
            examples:
              openOrder:
                summary: Open order for a seated reservation
                value:
                  orderId: 2c1f7e90-1a2b-4c3d-8e9f-0a1b2c3d4e5f
                  createdAt: '2026-06-20T20:35:00Z'
                  reservationStatus: CONFIRMED
                  partySize: 4
                  startTime: '2026-06-20T20:30:00Z'
                  customer:
                    id: cus_55ab
                    firstName: Camille
                    lastName: Durand
                    allergies:
                    - peanuts
                  tables:
                  - name: T12
                    areaName: Terrace
      responses:
        '204':
          description: Order accepted. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.thefork.io/pos/v1
      description: Production (POS provider callbacks to TheFork)
  /orders/{orderId}/close:
    post:
      tags:
      - Orders
      summary: Close Order
      description: Close an order on payment and send the final order details (total amount and currency) back to TheFork so the reservation can be marked LEFT.
      operationId: closeOrder
      parameters:
      - name: orderId
        in: path
        required: true
        description: TheFork's UUID for the order.
        schema:
          type: string
          format: uuid
      - name: X-Api-Key
        in: header
        required: true
        description: POS provider API key.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderClose'
            examples:
              closeOrder:
                summary: Close order on payment
                value:
                  total:
                    amount: 12500
                    currency: EUR
                  closedAt: '2026-06-20T22:10:00Z'
      responses:
        '204':
          description: Order closed. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.thefork.io/pos/v1
      description: Production (POS provider callbacks to TheFork)
components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        allergies:
          type: array
          items:
            type: string
        dietaryRestrictions:
          type: array
          items:
            type: string
    Order:
      type: object
      required:
      - orderId
      - createdAt
      - reservationStatus
      - partySize
      - startTime
      properties:
        orderId:
          type: string
          format: uuid
          description: TheFork's UUID for the order.
          example: 2c1f7e90-1a2b-4c3d-8e9f-0a1b2c3d4e5f
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the order was opened.
          example: '2026-06-20T20:35:00Z'
        reservationStatus:
          $ref: '#/components/schemas/ReservationStatus'
        partySize:
          type: integer
          description: Number of guests.
          example: 4
        startTime:
          type: string
          format: date-time
          description: Scheduled meal start time (ISO 8601).
          example: '2026-06-20T20:30:00Z'
        customer:
          $ref: '#/components/schemas/Customer'
        prepayment:
          $ref: '#/components/schemas/Money'
        offer:
          $ref: '#/components/schemas/Offer'
        tables:
          type: array
          items:
            $ref: '#/components/schemas/Table'
    ReservationStatus:
      type: string
      enum:
      - RECORDED
      - CONFIRMED
      - CANCELED
      - NO_SHOW
      - REQUESTED
      - REFUSED
    Money:
      type: object
      description: A monetary amount with currency.
      properties:
        amount:
          type: integer
          description: Amount in the smallest currency unit (cents).
          example: 12500
        currency:
          type: string
          description: ISO 4217 currency code.
          example: EUR
    Offer:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        discount:
          type: number
        price:
          type: integer
          description: Price in the smallest currency unit (cents).
    Error:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
    OrderClose:
      type: object
      required:
      - total
      properties:
        total:
          $ref: '#/components/schemas/Money'
        closedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the order was closed.
    Table:
      type: object
      properties:
        name:
          type: string
          example: T12
        areaName:
          type: string
          example: Terrace
  responses:
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid API key or bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-Api-Key
      in: header
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by TheFork for POS API v1.
    BearerToken:
      type: http
      scheme: bearer
      description: Bearer token presented by TheFork on calls to the POS provider.
x-refined-from:
- lafourchette-v1-api-openapi.yml
- thefork-pos-openapi.yml
